[Desktop Entry]
Type=Application
Version=1.0
Name=Install ThuamaturgeOS
GenericName=Calamares Installer
Exec=install-debian
Comment=Calamares — Installer for thaumaturge Live
Keywords=calamares;system;install;debian;installer
Icon=install-tos.png
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
